<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <h1>Teilen.io Prototype - 0.0.1v </h1>

</head>

<body>
<div class = "valuesParentBlock">
	<h1>Design 1</h1>
	<form>
		<div class = "firstValue">
		Your BTC amount: <input type="text" name="firstCrypto" value=""><br>
		</div>
    {% if value1 %}
    {{ value1 }}
    {% endif %}
		<div class = "secondValue">
		Estimated eth: <h3 name="estimated_value"> 0 </h3>
		</div>
  </form>
  <form>
  <div class = "buttonParentBlock">
    <input type="submit" name="exchange" value="Get">
  </div>
  </form>
</div>
<div>
<h1>Design 2</h1>
	<select>
		<option value="eth">ETH</option>
		<option value="etc">ETC</option>
		<option value="lsk">LISK</option>
		<option value="strjx">STRJX</option>
	</select>
	<input type="submit" name="buy" value="Buy">
</div>
</body>
</html>
