<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/protostyle.css">
  <h1>Teilen.io Prototype - 0.0.1v </h1>
</head>

<body>
<div class = "valuesParentBlock">	
	<form>
		<div class = "firstValue">
		BTC: <input type="text" name="firstCrypto" value=""><br>
		</div>
		<div class = "secondValue">
		ETH: <input type="text" name="secondCrypto" value=""><br>
		</div>
	</form>
	<div class = "buttonParentBlock">
		<input type="submit" name="exchange" value="Get ETH">
	</div>
</div>
</body>
</html>
